# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo

# Jupyter Notebook checkpoint files
.ipynb_checkpoints/

# Virtual environment directories
env/
venv/

# VSCode settings directory (optional)
.vscode/

# macOS system files
.DS_Store

# Data files (optional: ignore large datasets or sensitive data)
*.csv
*.xlsx
